.ovul-calc-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.ovul-calc-input-container {
    padding: 6px;
}

.ovul-calc-input-container select {
    border-color: rgba(var(--mainColor));
}

.ovul-calc-button-container {
    text-align: center;
}

#btn_Submit_ovulCalc_Right {
    display: inline-block;
    background: rgba(var(--shadowColor));
    width: 100%;
    font-family: var(--fontFamilyName) Bold, Arial, Helvetica, sans-serif !important;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.ovul-calc-heading {
    display: block;
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.ovul-calc-description  {
    font-size: calc(16px - 1%) !important;
}

.ovul-calc-result {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 12px;
    background-color: white;
}

.ovul-calc-result-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-size: calc(var(--mobFontSize_componentTitle) - 1%);
}

.ovul-calc-result-content #ovul-calc-day-container,
.ovul-calc-result-content #ovul-calc-date-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    font-weight: bold;
}


.ovul-calc-result-bg-content-container {
    width: 100%;
    text-align: center;
    background-color: #585194;
    color: white;
}

.ovul-calc-result-button-container {
    width: 100%;
    padding: 0 !important;
}

#ovul-calc-result-bg-image-container {
    position: relative;
}

#ovul-calc-result-return-button {
    display: inline-block;
    min-width: 100px;
    width: 100%;
    margin-top: 24px !important;
    margin: 0;
    background: rgb(var(--shadowColor));
    font-size: 16px;
    color: rgb(var(--mainLightColor)) !important;
    text-align: center;
    padding: 8px 15px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;
    outline: none !important;
}

#ovul-calc-container {
    padding: 24px;
}

#ovul-calc-title-container {
    font-size: calc(var(--mobFontSize_H3) - 1%) !important;
}

/* #ovul-calc {
    font-size: calc(var(--mobFontSize_H1) - 1%) !important;
    font-weight: bold;
} */

.cnts {
    height: auto !important;
}

#ovul-calc-errors-list {
    padding: 6px;
}

.ovul-calc-error-item {
    text-align: right;
    color: red;
    padding: 3px 12px;
    font-size: calc(16px - 1%) !important;
}

.ovul-calc-error-container {
    color: red;
    font-size: calc(16px - 1%) !important;
}

.ovul-calc-info-container {
    position: relative;
    display: inline-block;
    padding: 6px;
    background-color: rgba(var(--mainColor), 0.5) !important;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.ovul-calc-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

a.ui-state-default, .ovul-calc-result-legend-box.default-day {
    background-color: rgba(var(--mainColor), 0.2) !important;
    color: white;
}

a.ui-state-default.ovul-day, .ovul-calc-result-legend-box.ovul-day {
    background-color: rgba(var(--mainColor), 1.0) !important;
    color: white;
}

a.ui-state-default.ovul-day, .ovul-calc-result-legend-box.ovul-day {
    background-color: rgba(var(--mainColor), 0.5) !important;
    color: white;
}

.ovul-calc-result-legend-item {
    display: flex;
    margin: 6px;
}

.ovul-calc-result-legend-label {
    margin: 0 12px;
}

.ovul-calc-result-legend-box {
    padding: 12px;
}

#ovul-calc-result-dates-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px;
}

.ovul-calc-result-date-container {
    padding: 0 12px;
    font-weight: bold;
}